@import "tailwindcss";

/* Antigo tailwind.config.js */
@theme {
  --color-brand-100: #c542f5;
  --color-brand-200: #9e35c4;
  --color-brand-300: #6d2487;
  
}

/* darkMode*/
@custom-variant dark (&:where(.dark, .dark *));

/* class custom */
@layer utilities{
  .laravue{
    @apply bg-brand-100 font-bold;
  }
}